html {
  box-sizing: border-box;
  font-style: italic;
  font-size: 9em;
  background-color: #000000;
    animation: flips 4s linear backwards infinite
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 15vh;
}

.panel {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.panel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  animation: flip 4s linear forwards infinite;
  animation-direction: normal;
}

.panel-front,
.panel-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.panel-front {
  background-color: red;
  color: black;
  box-shadow: 0 0 15px white;
}

.panel-back {
  background-color: black;
  color: white;
  box-shadow: 0 0 15px white;
  transform: rotateY(180deg);
}

.panel-front img {
  width: 300px;
  height: 300px;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes flips {
  from {
    filter:hue-rotate(0deg);
    background-color:white;
  }
  to {
    filter:hue-rotate(360deg);
    background-color:black;
  }
}
